@import './reset.scss';
@import './form.scss';
@import './modal.scss';

$font-size: 16px;
$font-color: #FFFFFF;

html {
    font-size: $font-size;
    color: $font-color;
    font-family: Tahoma, Geneva, sans-serif;
}

body {
    background: url('../assets/img/bg.png') repeat;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}